.button{
    padding: 10px 20px;
    width:123px;
    height:60px;
    font-size: 26px;
    font-weight: bold;
    font-family: cursive;
    background: #000803;
    border: none;
    color: #d23200;
    border-radius: 6px;
    cursor:pointer;
}